
body { font-family: Arial; padding: 20px; }
.banner { width: 100%; }
.downloads { display: grid; grid-template-columns: repeat(2, 1fr); gap: 20px; margin-top: 20px;}
.downloads img { width: 120px; }
